@import url('./common/common.css');

.app{position:relative; overflow: hidden;}
.scrap{padding:0 21px;}

/* ============================코디 보관함============================= */
.codiScrapSelect h3 {
    margin-bottom: 21px;
    font-size: 15px;
    font-weight: 500;
    
}
.codiScrapSelect h3::after{
    content:'arrow_forward_ios';
    font-family: "material symbols outlined";
    padding-left: 2px;
    display: inline-block;
    vertical-align: bottom;  
    cursor: pointer;
}

/* ------------------ 코디 보관함 빈공간일때---------------------- */
.codiScrapContainerEmpty{height: 180px; 
display: flex;width: 1000px;position: relative;
}
.codiScrapContainerEmpty p{height: 100%; width: 138px;
background-color: #ffffff;
border:2px dashed #f0f0f0;margin-right:10px;}
.codiScrapContainerEmpty span{
    font-size:14px;color:#888888;
    position:absolute;text-align: center;
    line-height: 1.4;
    top:40%;left:18%;transform: translate(-50%,-50%);
}
.codiScrapContainerEmpty a{position:absolute;
    font-size:14px;color:#2b2b2b;padding:7px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    top:65%;left:18%;transform: translate(-50%,-50%);
    margin-top:10px;
    border:1px solid #CFCFCF;
}

/* ------------------ 코디 보관함 스크랩되있을때---------------------- */
.codiScrapContainer{height: 180px; 
 width: 100%; position: relative;
 overflow-x: auto; gap:10px;
}
.codiScrapContainer img{height: 100%; width: 138px; object-fit: cover;}

.codiScrapContainer .list{
    position: relative;
    /* width: 400px; */
}
.codiScrapContainer .list img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
/* ============================음악 보관함============================= */
.moodScrapSelect{margin-top:30px;}
.moodScrapSelect h3 {
    margin-bottom: 21px;
    font-size: 15px;
    font-weight: 500;
     
}
.musicScrapSelect h3::after{
    content:'arrow_forward_ios';
    font-family: "material symbols outlined";
    padding-left: 2px;
    display: inline-block;
    vertical-align: bottom;  
}
.moodScrapSelect h3::after{
    content:'arrow_forward_ios';
    font-family: "material symbols outlined";
    padding-left: 2px;
    display: inline-block;
    vertical-align: bottom;  
    cursor: pointer;
}
/* ------------------ 음악 보관함 빈공간일때---------------------- */
.moodScrapContainerEmpty{height: 180px; 
display: flex;width: 1000px;position: relative;
 overflow-x: auto; gap:10px;}

.moodScrapContainerEmpty p{height: 100%; width: 138px;
background-color: #ffffff;
border:2px dashed #f0f0f0;}
.moodScrapContainerEmpty span{
    font-size:14px;color:#888888;
    position:absolute;text-align: center;
    line-height: 1.4;
    top:40%;left:18%;transform: translate(-50%,-50%);
}
.moodScrapContainerEmpty a{position:absolute;
    font-size:14px;color:#2b2b2b;padding:7px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    top:65%;left:18%;transform: translate(-50%,-50%);
    margin-top:10px;
    border:1px solid #CFCFCF;
}

/* ------------------ 음악 보관함 스크랩되있을때---------------------- */
.moodScrapContainer {height: 180px; 
width: 100%;position: relative;
 overflow-x: auto; gap:10px;}

.moodScrapContainer img{height: 100%; width: 138px; object-fit: cover;}
.moodScrapContainer .list{
    position: relative;
    /* width: 400px; */
}
.moodScrapContainer .list img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.moodScrapContainer .list p{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0%;
    /* padding-top:10px;
    padding-left:10px;
    padding-right:10px; */
    display: flex;
    font-size: 13px;
    text-align: left;
    align-items: center;
    padding: 0 10px;
    color: #00ce93;
}