@import url('./common/common.css');
@import url('./common/reset.css');

.app {
    position: relative;
}

.setting {
    padding: 0 21px;
}

.set {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.set h3 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;

}

.set input {
    display: none;
}

.set span {
    padding: 13px 0;
    text-align: center;
    border: 1.5px solid #eeeeee;
    display: inline-block;
    border-radius: 40px;
    font-size: 12px;
    width: 175px;
}

.bgcSelect span {
    width: 60px;
    height: 42px;
    border: none;
}

.bgcSelect label:nth-of-type(1) span {
    background-color: #E0E0E0;
}

.bgcSelect label:nth-of-type(1) input:checked+span {
    background: linear-gradient(to bottom, #EBEBEB 0%, #999999 100%);
    border: 3px solid #00CE93;
}

.bgcSelect label:nth-of-type(2) span {
    background-color: #8FEBD0
}

.bgcSelect label:nth-of-type(2) input:checked+span {
    background: linear-gradient(to bottom, #9effe2 0%, #00CE93 77%, #12A77C 100%);
    border: 3px solid #00CE93;
}

.bgcSelect label:nth-of-type(3) span {
    background-color: #B0C9EF;
}

.bgcSelect label:nth-of-type(3) input:checked+span {
    background: linear-gradient(to bottom, #cbe0ff 0%, #6ea3f3 77%, #458bf5 100%);
    border: 3px solid #00CE93;
}

.bgcSelect label:nth-of-type(4) span {
    background-color: #cfc4ff;
}

.bgcSelect label:nth-of-type(4) input:checked+span {
    background: linear-gradient(to bottom, #dbd3ff 0%, #a08bff 77%, #8164ff 100%);
    border: 3px solid #00CE93;
}

.bgcSelect label:nth-of-type(5) span {
    background-color: #E8D08D;
}

.bgcSelect label:nth-of-type(5) input:checked+span {
    background: linear-gradient(to bottom, #ffeab1 0%, #e4c267 77%, #dbad2c 100%);
    border: 3px solid #00CE93;
}

.set input:checked+span {
    background-color: #8FEBD0;
    border: 1.5px solid #00CE93;
}

.set .genderOption {
    display: flex;
    gap: 10px;
}

.set .temperatureOption {
    display: flex;
    gap: 10px;
}

.set .languageOption {
    display: flex;
    gap: 10px;
}

.set .bgcOption {
    display: flex;
    gap: 15px;
}

.setBtn button {
    position: absolute;
    background-color: #EEEEEE;
    padding: 15px 0;
    width: 359px;
    border-radius: 40px;
    color: #BDBDBD;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Pretendard', sans-serif;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.setBtn button.active {
    position: absolute;
    background-color: #00CE93;
    padding: 15px 0;
    width: 359px;
    border-radius: 40px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Pretendard', sans-serif;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}