@import url('./common/common.css');
@import url('./common/reset.css');

.app {
    background: linear-gradient(to bottom, #CFFFF1 0%, #00CE93 77%, #12A77C 100%);
}

.txt > span{
    padding: 0 21px;
}

.txt a{
    padding: 0 21px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 


/* ======================= 일출/일몰 카드 ======================= */

.suncard {
    width: 90%;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a {
    position: relative;
    top: 22px;
    width: 200px;
    height: 70px;
    margin: 100px auto;
    transform-style: preserve-3d;
    transform: rotate(-180deg);
}

.rail {
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-dasharray: 50 100;
}

.progress {
    stroke: url(#gradient);
    stroke-linecap: round;
    stroke-dasharray: 0 100;
    /* animation: progressbar 5s linear; */
    
}

.sun {
    position: absolute;
    left: calc(50% - 12px);
    top: calc(40% - 17px);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: yellow;
    filter: drop-shadow(0 0 5px yellow);
    transform: rotate(50deg) translateX(80px);
    
    
    /* animation: sun 5s linear forwards; */
}


@keyframes sun {
    from {}

    to {
        transform: rotate(180deg) translateX(80px);
    }
}


@keyframes progressbar {
    from {
        stroke-dasharray: 0, 100;
    }

    to {
        stroke-dasharray: 50, 50;
    }
}

.sun-info {
    margin: 0 auto;
    display: flex;
    position: relative;
    top: -85px;
}

.sunrise {
    padding: 0 50px;
}

.sunset {
    padding: 0 50px;
}

.label {
    display: flex;
    justify-content: center;
}

.label>p {
    font-size: 15px;
}

.label>small {
    font-size: 11px;
    padding: 0 5px 0;
    display: flex;
    align-items: flex-end;
}

h3 {
    margin: 3px 0 0;
    font-size: 25px;
}



/* ======================= 서브 날씨 정보 ======================= */

.sub {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 5px;
    width: 90%;
    margin: 0px auto;
}

.material-symbols-outlined {transition: 0.3s;} /* 0.3초 동안 자연스럽게 변함 */

/* 등급 색상 */ 
.grade-1 { color:#2196F3; }
.grade-2 { color:#4CAF50; }
.grade-3 { color:#FF9800;}
.grade-4 { color:#F44336; }

.contents {
    margin: 0 auto;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    width: 175px;
    height: 87px;
}


.box1 {
    padding: 4px 10px;
}

.box1>p {
    font-size: 12px;
}

.box2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.box2>b {
    font-size: 30px;
}

.box2>b>small {
    font-size: 17px;
    font-weight: normal;
}

#rain small {
    font-size: 17px;
    font-weight: normal; /* 기본 bold 상속 막기 */
}

.sub .contents .box1 .box2>span {
    font-size: 35px;
}

.sub .contents:last-child {
    width: 100%;
}


.moon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.moon-box>b {
    font-size: 30px;
}
.moon-name small {
    font-size: 17px;
    font-weight: normal;
}

.moon-svg {
    width: 50px;
    height: 50px;
}

.moon-svg moon-phase {
    width: 100%;
    height: 100%;
}


.phase-text {
    font-size: 30px;
    font-weight: bold;
}

moon-phase {
  --moon-phase-blur: 3px;

  --_w: calc(100% - 1% * attr(illumination type(<number>), 0));
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

moon-phase::before {
  background: url('https://assets.stoumann.dk/img/moon.png') center / cover no-repeat;  
  content: '';
  inset: 0;
  position: absolute;
}

moon-phase::after {
  background-color: #000;
  border-radius: 50%;
  content: '';
  height: 100%;
  inset: 0;
  position: absolute;
  width: var(--_w);
  opacity: .85;
}

/* 방향 처리 */
[phase*="waxing"]::after,
[phase*="first quarter"]::after {
  left: auto;
  right: 0;
}

[phase*="waning"]::after,
[phase*="last quarter"]::after {
  left: 0;
}





